<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='style/style2.css') }}"> 
</head>
<body>
    <form action="/changepwd" method="POST">
        <div class='menu'>
            <a class="active" href="/index"><i id="home" class="fas fa-home"></i></a>
            <a href="/changeavatar"><i class="far fa-user-circle"></i></a>
            <a href="/changepwd"><i class="fas fa-lock" content="changepassword"></i></a>
        </div>
        <div class="Changepwdsystem">
            <form action="/login" method="POST">
                <div class="si-icon"><i class="fas fa-sign-in-alt"></i></div>
                <input type="password" name="old_password" placeholder="Old Password" required>
                <input type="password" name="new_password" placeholder="New Password" required>
                <input type="password" name="new_password_confirm" placeholder="New Password Confirm" required>  
                <input id='login' type="submit" value="Update password">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                            <p style=color:red; id="msg">{{msg}}</p>
                        {%endfor%}
                    {%endif%}
                {%endwith%}
            </form>
        </div>
    </form>
</body>
</html>